html {
    scroll-behavior: smooth;
}

.background {
	top: 0;
	background: url(../jpg/1.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	animation: slideshow 300s ease-in-out infinite;
}

.shadow-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(transparent, #020f38);
}

.shadow-top {
	z-index: 999;
	position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(#020f38, transparent);
}

.shadow-left {
	position: absolute;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(-90deg, transparent, #020f38);
}

@keyframes slideshow {
	0%, 100% {
		top: 0;
	background: url(../jpg/1.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	5% {
		top: 0;
	background: url(../jpg/2.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	10% {
		top: 0;
	background: url(../jpg/3.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	15% {
		top: 0;
	background: url(../jpg/4.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	20% {
		top: 0;
	background: url(../jpg/5.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	25% {
		top: 0;
	background: url(../jpg/6.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	30% {
		top: 0;
	background: url(../jpg/7.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	35% {
		top: 0;
	background: url(../jpg/8.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	40% {
		top: 0;
	background: url(../jpg/9.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	45% {
		top: 0;
	background: url(../jpg/10.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	50% {
		top: 0;
	background: url(../jpg/11.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	55% {
		top: 0;
	background: url(../jpg/12.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	60% {
		top: 0;
	background: url(../jpg/13.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	65% {
		top: 0;
	background: url(../jpg/14.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	70% {
		top: 0;
	background: url(../jpg/15.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	75% {
		top: 0;
	background: url(../jpg/16.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	80% {
		top: 0;
	background: url(../jpg/17.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	85% {
		top: 0;
	background: url(../jpg/18.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	90% {
		top: 0;
	background: url(../jpg/19.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
	95% {
		top: 0;
	background: url(../jpg/1.jpg);
	background-repeat: no-repeat;
	background-position: centre;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: absolute;
	}
}